/build
/dist
main.spec
/src/lock
*-backup.*
__pycache__
/lock
homework.json
homework_stress.json
setting.json
desktop.ini
*.log
/backup
/src/_internal
/_internal/config
/_internal/backup
/_internal/lock